@import "tailwindcss";

@theme {
    --color-primary: #F4EDD3;
    --color-navy: #4C585B;
    --color-gray-blue-500: #4C585B;
}

.pt-cormorant {
  font-family: "Cormorant";
}


.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  