@import "tailwindcss";

@theme {
    --color-primary: #F4EDD3;
    --color-navy: #4C585B;
    --color-gray-blue-500: #4C585B;
    --color-yellow-beach: #FFF1D5;
    --color-goldy: #FEBA17;
    --font-cormorant: "Cormorant Upright", serif;
    --font-pinyon-script: "Pinyon Script", cursive;
    --font-monsieur-lad: "Monsieur La Doulaise", cursive;
}