@import 'tailwindcss';
@import 'tailwindcss-animated';

@theme {
  --color-primary: #f4edd3;
  --color-navy: #4c585b;
  --color-gray-blue-500: #4c585b;
  --color-yellow-beach: #fff1d5;
  --color-goldy: #feba17;
  --font-cormorant: 'Cormorant Upright', serif;
  --font-pinyon-script: 'Pinyon Script', cursive;
  --font-monsieur-lad: 'Monsieur La Doulaise', cursive;
  --font-poppins: 'Poppins', sans-serif;
  --animate-up-and-down: up-and-down 2s ease-in-out infinite;
  --animate-slide-up-fade-in: slide-up-fade-in 1s ease-in-out;

  @keyframes slide-up-fade-in {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes up-and-down {
    0%, 100% {
        transform: translateY(10px);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      }
      50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
  }
}

.text-shadowing {
  text-shadow: -0.25px -0.25px 0 #fff1d5,     0.25px -0.25px 0 #fff1d5,    -0.25px  0.25px 0 #fff1d5,     0.25px  0.25px 0 #fff1d5;
}